{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
    </head>
    <body>
        <header>
        </header>
        {% block content %}
            <main>
                <div>
                    <h1>My Tasks</h1>
                    {% if task_list.all|length > 0 %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                    <tr>
                                    </thead>
                                    <tbody>
                                        {% for task in task_list %}
                                            <tr>
                                                <td>{{ task.name }}</td>
                                                <td>{{ task.start_date }}</td>
                                                <td>{{ task.due_date }}</td>
                                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>You have no tasks</p>
                            {% endif %}
                        </div>
                    </main>
                {% endblock content %}
                <footer>
                </footer>
            </body>
        </html>
