{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
    </head>
    <body>
        <header>
        </header>
        {% block content %}
            <main>
                <div>
                    <h1>{{ project_detail.name }}</h1>
                    <p>{{ project_detail.description }}</p>
                    <h2>Tasks</h2>
                    <p>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    {% if project_detail.tasks.all|length > 0 %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                    <tr>
                                    </thead>
                                    <tbody>
                                        {% for detail in project_detail.tasks.all %}
                                            <tr>
                                                <td>{{ detail.name }}</td>
                                                <td>{{ detail.assignee }}</td>
                                                <td>{{ detail.start_date }}</td>
                                                <td>{{ detail.due_date }}</td>
                                                <td>{{ detail.due_date|yesno:"yes,no" }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <p>This project has no tasks</p>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </main>
                {% endblock content %}
                <footer>
                </footer>
            </body>
        </html>
