{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
    </head>
    <body>
        <header>
        </header>
        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    <p>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                    </p>
                    {% if project_list.all|length == 0 %}
                        <p>You are not assigned to any projects</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of tasks</th>
                                    <tr>
                                    </thead>
                                    <tbody>
                                        {% for project in project_list %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                                </td>
                                                <td>{{ project.tasks.all|length }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </main>
                {% endblock content %}
                <footer>
                </footer>
            </body>
        </html>
